---
import '../styles/global.css'
const pageTitle = "About Me";
const identity = {
  firstName: "Naveen",
  country: "India",
  occupation: "Student",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const goal = 4;

const skillColor = "navy";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <!-- <link rel="stylesheet" href="/assets/style.css" /> -->
        <style define:vars={{skillColor}}>
            h1 {
                color: purple;
            }
            .skill {
                color: var(--skillColor);
                font-weight: bold;
            }
        </style>
        <title>About</title>
    </head>
    <body>
        <h1>{pageTitle}</h1>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
        {goal === 3 ? <p>Goal variable is 3</p> : <p>Goal variable is not 3 its {goal}.</p>}
        <p>Here are a few facts about me:</p>
        <ul>
            <li>My name is {identity.firstName}.</li>
            <li>I live in {identity.country}</li>
            {identity.hobbies.length >=2 &&
                <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
            }
        </ul>
        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi
            nullam vehicula ipsum a arcu cursus vitae congue. Quam adipiscing
            vitae proin sagittis. Adipiscing tristique risus nec feugiat in
            fermentum posuere urna. Risus sed vulputate odio ut. Odio
            pellentesque diam volutpat commodo sed egestas egestas fringilla.
            Vel pretium lectus quam id leo in vitae. Risus sed vulputate odio ut
            enim blandit volutpat. Suspendisse sed nisi lacus sed. Venenatis a
            condimentum vitae sapien pellentesque habitant morbi tristique.
            Blandit massa enim nec dui. Ultrices eros in cursus turpis massa
            tincidunt dui ut ornare.
        </p>
    </body>
</html>
