---
import "../styles/global.css";
const { frontmatter } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> Old astro logo-->
        <link rel="icon" type="image/svg+xml" href="/mistborn.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title}</title>
    </head>
    <body>
        <h1>{frontmatter.title}</h1>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <p>{frontmatter.date} by {frontmatter.author}</p>

        <slot />
        <script defer src="https://comments.naveensd.com/comentario.js"></script>
        <comentario-comments></comentario-comments>
    </body>
</html>
