---
import '../styles/global.css'
const {frontmatter} = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title}</title>
    </head>
    <body>
        <h1>{frontmatter.title}</h1>
        <a href="/">Home</a>
        <a href="/sdlog">Blog</a>
        <!-- <a href="/shorts">Shorts</a> -->
        <p>{frontmatter.date} by {frontmatter.author}</p>

        <slot />
        <script src="https://giscus.app/client.js"
        data-repo="naveensd101/sdblog"
        data-repo-id="R_kgDOJWVUrQ"
        data-category="blog comments"
        data-category-id="DIC_kwDOJWVUrc4CWUQX"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="transparent_dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
    </body>
</html>

